@mixin common-properties($bg-color: var(--color-primary-1)) {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  font-family: var(--font-primary);
  transition: all 150ms ease-in-out;
}

.button__default {
  @include common-properties;
  width: 100%;
  height: 48px;
  padding: 0 1.25rem;
  color: var(--color-grey-4);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    background-color: var(--color-primary-2);
  }
}

.button__delete {
  @include common-properties($bg-color: var(--color-grey-3));
  height: 1.1875rem;
  padding: 0 0.5625rem;
  color: var(--color-grey-1);
  border-radius: 0.125rem;
  font-size: 0.625rem;
  font-weight: 400;

  &:hover {
    color: var(--color-grey-3);
    background-color: var(--color-grey-1);
  }
}
