:root {
  --color-primary-1: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --color-grey-1: #212529;
  --color-grey-2: #868e96;
  --color-grey-3: #e9ecef;
  --color-grey-4: #f8f9fa;

  --font-primary: "Nunito", sans-serif;
}

:root.dark-mode {
  --color-primary-1: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --color-grey-1: #f8f9fa;
  --color-grey-2: #e9ecef;
  --color-grey-3: #868e96;
  --color-grey-4: #212529;

  --font-primary: "Nunito", sans-serif;
}
