.flexBox {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--grey-light);
  border-radius: 0.25rem;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
