.sectionContainer {
  width: 100%;
  padding-top: clamp(1.875rem, 5vw, 2.5rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (min-width: 920px) {
    width: 40%;
  }
}

.detailedInfo {
  width: 100%;

  @media (min-width: 920px) {
    width: calc(60% - 60px);
  }
}
